node_modules
/dist
.DS_Store

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

test/e2e/generated
test/e2e/generated-filtered
test/e2e/generated-filtered-multi
test/e2e/generated-filtered-all
test/e2e/generated-filtered-structure

.serena
